*{
    margin : 0;
    padding: 0;
}
/* variaveis de cores que esta aplicacao utilizou */
:root{
    --white : #fff;
    --background : #f2f3f5;
    --gray-line : #dcdde0;
    --text : #666666;
    --text-highlight: #b3b9ff;
    --title : #2e384d;
    --red : #e83f5b;
    --green : #4cd62b;
    --blue : #5965e0;
    --blue-dark : #4953b8;
    --blue-twitter: #2aa9e0;

}



.container{
   height : 100vh;
   width : 100%;
   background-image: url(../img/background.png);
   background-position: center;
   background-size: cover;
   padding-left: 5%;
   padding-right: 5%;
   box-sizing: border-box;
   position: relative;
}

.logo{
    background-image: url(../img/logo.png);
}


